.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
.vscode/
android/.gradle
android/app/debug
android/app/profile
android/app/release
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
lib/firebase_options.dart
